@import "tailwindcss";

:root {
    --new_angle: 0deg;
}

@theme {
    --color-primary: #08244c;
    --color-secondary: #ffffff;
    --color-tertiary: #d8b46c;
}

* {
    margin: 0;
    padding: 0;
}



.gridContainer {
    display: grid;
    grid-template-areas:
        "navbar"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;

    background-color: var(--color-primary);
    color: var(--color-secondary);

    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: var(--color-tertiary);
    top: 0;
    position: sticky;
    grid-area: navbar;
    padding: 10px;
    color: var(--color-primary);
    z-index: 999;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.15s ease-in;

    border: 2px solid var(--color-tertiary);
}

nav a:hover {
    background-color: var(--color-secondary);
    border-radius: 15px;
    border: 2px solid var(--color-primary);
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding: 10px;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

main {
    position: relative;
    grid-area: main;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    z-index: 2;
}

/* absolute bottom-40 right-4 z-100 bg-blue-600 text-white px-4 py-2 rounded shadow-lg hover:bg-blue-700 transition */
.addButton {
    position: absolute;
    bottom: 40px;
    right: 4px;
    z-index: 10;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 10;

}

@media (max-width: 900px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: flex;
    }
}

footer {
    grid-area: footer;
    position: sticky;
    display: flex;
    justify-content: center;
}